* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}
a > * {
    transition: all .3s;
}
a:hover > * {
    transform: scale(0.9);
    transition: all .3s;
}

ul {
    list-style: none;
}

body {
    background: #fae9ef;
}

footer {
    background-color: #f4f6ff;
    height: 70px;
}

header {
    position: absolute;
    top: 0;
    /* background: #f4f6ff63;
    backdrop-filter: blur(10px); */
    z-index: 100;
    width: 100%;
    color: #ff0800;
}
header > nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header > nav > ul {
    color: #FF8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.3rem;
}
header > nav > ul > li > a > div {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section {
    height: 100dvh;
    position: relative;
    overflow: hidden;
}
main > section:nth-child(1) {
    height: 100vh;
}
.wave-bg {
    transform: rotate(180deg);
    position: absolute;
    bottom: -1px;
    z-index: -1;
    color: #f54b4b;
}

#about {
    background-color: #f54b4b;
    color: #fae9ef;
    padding: 20px;
    height: fit-content;
}

#benefits {
    color: #f54b4b;
    height: fit-content;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}
.logo > img {
    width: 40px;
    height: auto;
}

.btn-join {
    padding: 10px 20px;
    background-color: #f54b4b;
    color: #F4F6FF;
    border-radius: 5px;
}

nav.real {
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 101;
    justify-content: center;
    display: flex;
    align-items: center;
    color: antiquewhite;
}
nav.real > ul {
    background-color: #f4f6ff;
    width: 50vw;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
nav.real > ul > li {
    margin-bottom: 70px;
    color: #FF8A8A;
}
nav.real > ul > li > a > div {
    width: 80px;
    height: 80px;
    padding: 5px;
    text-align: center;
}
nav.real > ul > li > a > div > .dot {
    height: 100%;
    border: 3px solid currentColor;
    border-radius: 100%;
    background-color: #F4F6FF;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot > svg {
    width: 35px;
}

.naik {
    animation: naik .5s ease-out;
}
.turun {
    animation: naik .5s ease-out reverse;
}

#home > .content {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 0 20px;
}
#home > .content > .text {
    position: relative;
    color: #672331;
    width: 50%;
}
#home > .content > img {
    width: 40vw;
}
.text > h1 {
    font-size: 2.5rem;
    line-height: 1;
}
.text > p {
    color: #f19bae;
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1;
}
.text > a > .btn-join {
    border: 2px solid #FF8A8A;
    margin-top: 10px;
    width: fit-content;
}

#about > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px);
}
#about > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}
#about > ul > li > img {
    min-width: 100px;
    width: 100vw;
    max-width: 200px;
    height: auto;
}
#about > ul > li > div {
    margin-top: 10px;
}
#about > ul > li:nth-child(odd) {
    flex-direction: row-reverse;
}

#benefits > .wave-bg {
    width: 300px;
    height: auto;
}
#benefits > .content {
    padding: 40px 20px;
}
#benefits > .content > h2 {
    text-align: end;
    margin-bottom: 20px;
}
.icon {
    padding: 10px;
    background-color: #f54b4b;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
}
.icon > * {
    width: 50px;
    height: 50px;
}
#benefits > .content > ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
#benefits > .content > ul > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
}
#benefits > .content > ul > li > .text {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 699px) {
    #benefits > .content > ul > li {
        width: calc(100vw - 40px) !important;
        flex-basis: unset;
    }
    #about > ul > li > img {
        max-width: 150px;
    }
    #about > ul > li, #about > ul > li:nth-child(odd) {
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
    }
    #home > .content > .text {
        transform: scale(1);
        width: 100%;
    }
    #home > .content > img {
        display: none;
    }
    nav.real {
        background-color: #f4f6ff;
    }
    nav.real > ul {
        width: 100vw;
        padding: 0 20px;
    }
    header > nav > ul {
        display: none;
    }
    .wave-bg {
        height: 100vh;
    }
}

@keyframes naik {
    from {
        transform: translateY(200%);
    }
}