* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: unset;
    text-decoration: none;
}
a > * {
    transition: all .3s;
}
a:hover > * {
    transform: scale(0.9);
    transition: all .3s;
}

ul {
    list-style: none;
}

body {
    background: #F4F6FF;
}

header {
    position: absolute;
    top: 0;
    /* background: #f4f6ff63;
    backdrop-filter: blur(10px); */
    z-index: 100;
    width: 100%;
    color: #ff0800;
}
header > nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header > nav > ul {
    color: #FF8A8A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.3rem;
}
header > nav > ul > li > a > div {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section {
    height: 100dvh;
    position: relative;
    overflow: hidden;
}
main > section:nth-child(1) {
    height: 85vh;
}
#home > .wave-bg {
    transform: rotate(180deg);
    position: absolute;
    bottom: -1px;
    z-index: -1;
    color: #f54b4b;
}

#about {
    background-color: #f54b4b;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}
.logo > img {
    width: 40px;
    height: auto;
}

.btn-join {
    padding: 10px 20px;
    background-color: #f54b4b;
    color: #F4F6FF;
    border-radius: 5px;
}

nav.real {
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 101;
    justify-content: center;
    display: flex;
    align-items: center;
    color: antiquewhite;
}
nav.real > ul {
    background-color: #f4f6ff;
    width: 50vw;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px 15px 0 0;
}
nav.real > ul > li {
    margin-bottom: 70px;
    color: #FF8A8A;
}
nav.real > ul > li > a > div {
    width: 80px;
    height: 80px;
    padding: 5px;
    text-align: center;
}
nav.real > ul > li > a > div > .dot {
    height: 100%;
    border: 3px solid currentColor;
    border-radius: 100%;
    background-color: #F4F6FF;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot > svg {
    width: 35px;
}

.naik {
    animation: naik .5s ease-out;
}
.turun {
    animation: naik .5s ease-out reverse;
}

@media (max-width: 699px) {
    nav.real {
        background-color: #f4f6ff;
    }
    nav.real > ul {
        width: 100vw;
        padding: 0 20px;
    }
    header > nav > ul {
        display: none;
    }
    #home > .wave-bg {
        height: 100vh;
    }
}

@keyframes naik {
    from {
        transform: translateY(200%);
    }
}